---
import HeroProduct from "../../components/kli/Hero.astro";
import Features from "../../components/kli/Features.astro";
import HowItWorks from "../../components/kli/HowItWorks.astro";
import SustainabilityMetrics from "../../components/kli/SustainabilityMetrics.astro";
import Stats from "../../components/kli/Stats.astro";
import Blog from "../../components/kli/Blog.astro";
import FAQ from "../../components/kli/FAQ.astro";
import AppHeader from "../../components/shared/AppHeader.astro";
import AppFooter from "../../components/shared/AppFooter.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import "../../styles/kli.css";
import { meta } from "@/data/kli";
---

<Layout title={meta.title} image="/images/og-kli.png">
  <AppHeader />
  <main class="space-y-32 mb-32">
    <HeroProduct />
    <Features />
    <HowItWorks />
    <SustainabilityMetrics />
    <Stats />
    <Blog />
    <FAQ />
  </main>
  <AppFooter />
</Layout>
