---
import HeroProductKubmin from "../../components/HeroProductKubmin.astro";
import FeaturesKubmin from "../../components/FeaturesKubmin.astro";
import SustainabilityMetrics from "../../components/SustainabilityMetrics.astro";
import HowItWorksKubmin from "../../components/HowItWorksKubmin.astro";
import PricingKubmin from "../../components/PricingKubmin.astro";
import FAQKubmin from "../../components/FAQKubmin.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="kubmin - Sustainable Kubernetes Workload Management">
  <main class="space-y-32 mb-32">
    <HeroProductKubmin />
    <FeaturesKubmin />
    <SustainabilityMetrics />
    <HowItWorksKubmin />
    <PricingKubmin />
    <FAQKubmin />
  </main>
</Layout>
