---
import AppHeader from "../components/AppHeader.astro";
import AppFooter from "../components/AppFooter.astro";
import HeroHome from "../components/HeroHome.astro";
import MissionVision from "../components/MissionVision.astro";
import CompanyValues from "../components/CompanyValues.astro";
import ProductHighlights from "../components/ProductHighlights.astro";
// import Stats from "../components/Stats.astro";
import CallToAction from "../components/CallToAction.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/company.css";
import { meta } from "@/data/home";
---

<Layout title={meta.title}>
  <AppHeader />
  <main>
    <HeroHome />
    <MissionVision />
    <CompanyValues />
    <ProductHighlights />
    <!-- <Stats /> -->
    <!-- <CallToAction /> -->
  </main>
  <AppFooter />
</Layout>
