---
import AppHeader from "../components/shared/AppHeader.astro";
import AppFooter from "../components/shared/AppFooter.astro";
import HeroHome from "../components/home/Hero.astro";
import MissionVision from "../components/shared/MissionVision.astro";
import CompanyValues from "../components/home/CompanyValues.astro";
import ProductHighlights from "../components/home/ProductHighlights.astro";
// import Stats from "../components/kli/Stats.astro";
import CallToAction from "../components/home/CallToAction.astro";
import TeamMembers from "../components/shared/TeamMembers.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/company.css";
import { meta } from "@/data/home";
---

<Layout title={meta.title} image="/images/og-main.png">
  <!-- Page-wide grid background -->
  <div class="fixed inset-0 -z-10 pointer-events-none bg-global-background"></div>
  <div class="fixed inset-0 -z-10 pointer-events-none bg-[linear-gradient(to_right,var(--ksctl-grid-line)_1px,transparent_1px),linear-gradient(to_bottom,var(--ksctl-grid-line)_1px,transparent_1px)] bg-[size:40px_40px]"></div>

  <AppHeader />
  <main>
    <HeroHome />
    <ProductHighlights />
    <MissionVision />
    <CompanyValues />
    <TeamMembers />
    <CallToAction />
  </main>
  <AppFooter />
</Layout>
